.modal-weekly-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weekly-title{
    width: 20%;
    padding: 0 5px;
}

.weekly-inputs{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weekly-inputs p{
    margin: 0 20px;
}

.day-selector{
    width: 150px;
    height: 30px;
    border: 1px solid #00000080;
    outline: none;
    background-color: transparent;
}

 
.time-selector{
    height: 30px;
    padding: 0 5px;
    border: 1px solid #00000080;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}
  
  /* 'X' button for resetting/clearing time */
.time-selector::-webkit-clear-button {
    display: none;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
.time-selector::-webkit-inner-spin-button {
    display: none;
  }
.time-selector::-webkit-calendar-picker-indicator{
    display: none;
  }