 
.time-selector{
    height: 30px;
    padding: 0 5px;
    border: 1px solid #00000080;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}
  
  /* 'X' button for resetting/clearing time */
.time-selector::-webkit-clear-button {
    display: none;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
.time-selector::-webkit-inner-spin-button {
    display: none;
  }
.time-selector::-webkit-calendar-picker-indicator{
    display: none;
  }